<p><strong>Chair:</strong><br>
Cristina Gragnani<br>
537 Anderson Hall<br>
<a href="tel:2152041816">(215) 204-1816</a><br>
<a href="mailto:gragnani@temple.edu">gragnani@temple.edu</a></p>
<hr>
<p><strong>Faculty Advisor:</strong><br>
Olia Prokopenko<br>
551 Anderson Hall<br>
<a href="tel:2152041768">(215) 204-1768</a><br>
<a href="mailto:oprokop@temple.edu">oprokop@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Michelle Pugliese<br>
429 Anderson Hall<br>
<a href="tel:2152045628">(215) 204-5628</a><br>
<a href="mailto:pugliese@temple.edu">pugliese@temple.edu</a></p>
<hr>
<p><strong>Coordinator:</strong><br>
Stephanie Smith<br>
539 Anderson Hall<br>
<a href="tel:2152041261">(215) 204-1261</a><br>
<a href="mailto:ssmith14@temple.edu">ssmith14@temple.edu</a></p>
